{% extends "register/base.html" %}
{% block content %}

<div class="contact-container">
  <h2>Zapisy na zajęcia</h2>
  <form id="contact-form" method="post">
    {% csrf_token %}
      <input type="text" id="child-name" name="child_name" placeholder="Imię i nazwisko ucznia" required>
      <input type="text" id="child-class" name="child_class" placeholder="Klasa ucznia"  required>
      <input type="text" id="parent-name1" name="parent_name1" placeholder="Imię i nazwisko rodzica (wymagane)"  required>
      <input type="text" id="parent-name2" name="parent_name2" placeholder="Imię i nazwisko rodzica (opcjonalne)" >
      <input type="text" id="parent-phone-number1" name="parent_phone_number1" placeholder="Numer telefonu rodzica (wymagane)" required>
      <input type="text" id="parent-phone-number2" name="parent_phone_number2" placeholder="Numer telefonu rodzica (opcjonalne)">
      <input type="email" id="email" name="email" placeholder="Adres email (opcjonalne)" >

      <select name="swietlica" required>
          <option value="" disabled selected hidden>Czy uczęszcza do świetlicy</option>
          <option value="tak">Tak</option>
          <option value="nie">Nie</option>
      </select>

      <select name="payment" required>
          <option value="" disabled selected hidden>Forma płatności</option>
          <option value="semestralnie">Semestralnie</option>
         <option value="za każde zajęcia">Za każde zajęcia</option>
      </select>

      <button type="submit" class="submit-button">Zgłoś na zajęcia</button>
  </form>
</div>



<style>

.contact-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-top: 30px;
}

input {
  width: 460px;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.submit-button{
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

select {
  width: 500px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 16px;

}


select option {
  background-color: #fff;
  color: #333;
  font-size: 20px;

}

select option:hover {
  background-color: #f0f0f0;

}

</style>
{% endblock %}